[user]
	name = Dominik Inführ
	email = dominik.infuehr@gmail.com

[alias]
	st = status
	ci = commit -v
	co = checkout
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	hist = log --graph --decorate --pretty=format:\"%h %ad | %s%d [%an]\" --abbrev-commit --date=short

[color]
	ui = true

[core]
{% if vim %}
	editor = {{ vim }}
{% endif %}
	excludesfile = ~/.gitignore
{% if delta %}
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	dark = true
	syntax-theme = Solarized (dark)
	line-numbers = true
{% endif %}

[merge]
	conflictStyle = zdiff3

[push]
	default = current
